<div ng-repeat="post in posts | orderBy:'-upvotes' track by $index">
    <span ng-hide="userid == post.author._id">
    <span class="glyphicon glyphicon-thumbs-up" ng-click="upvote()"> </span>
    <span class="glyphicon glyphicon-thumbs-down" ng-click="downvote()"> </span>
    </span>
    <span class="post-text">{{post.text}}</span>
    <span>({{post.upvotes}}) - by {{post.author.username}}</span>
    <a ui-sref="comment({id: post._id})">View Comments</a>
    <a class="btn btn-danger" ng-show="isAdmin" ng-click="deletePost()">Delete</a>
</div>
<form ng-submit="addPost()">
    <h3>Add a new post</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Text" ng-model="text"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
